        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        #renderCanvas {
            width: 100%;
            height: 100%;
        }
        #start_message {
            position: absolute;
            width:100%;
            text-align: center;
            left: 0px;
            top: 0px;
            font-size: 100px;
            color: green;
        }
.center
{
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    background-color:#b0e0e6;
}
.menu{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 20px;
    color: green;
    background-color:rgb(255,0,0);
}

#health{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 20px;
    color: green;

}

#crosshairs{
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
        
